<%- include header%>
    <div class="container-fluid bg_color">
        <div class="row">
            <h2 class="title">How It Work</h2>
        </div>

        <div class="col-md-6 col-sm-12 text-center">
            <h2>Create Account</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="col-md-6 text-center">
            <img src="images/signup.png" class="img-responsive">
        </div>

        <div class="row bg_color">
            <div class="col-md-6 text-center">
                <img src="images/pricing.png" class="img-responsive">
            </div>

            <div class="col-md-6 col-sm-12 text-center">
                <h2>Chosse your Plan</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
      
         </div>

         <div class="row bg_color">
            
            <div class="col-md-6 col-sm-12 text-center">
                <h2>Enjoy Teledoor</h2>
            </div>

            <div class="col-md-6 text-center">
                <img src="images/pricing.png" class="img-responsive">
            </div>
         </div>

    </div>

<!-- tagline start -->
<div class="container-fluid text-center" style="background-image:url('images/smily.jpg');background-size: 100% 100%; background-attachment: fixed;padding-top: 70px;padding-bottom: 70px;">
  <div class="container">
    <div class="row">
      <!-- 1st Count up item -->
      <div class="col-md-4 col-sm-12">
        <div style="line-height: 50px;">
          <span class="counter-item"  data-from="0" data-to="964" style="font-size: 40px; color: white;">964</span>
          <h2 style="color:white;font-weight: bolder;font-size: 40px;">Movies</h2>
        </div>
      </div>

      <!-- 2nd Count up item -->
      <div class="col-md-4 col-sm-12">
        <div style="line-height: 50px;">
          <span class="counter-item" data-from="0" data-to="743" style="font-size: 40px; color: white;">743</span>
          <h2 style="color:white;font-weight: bolder;font-size: 40px;">TV Shows</h2>
        </div>
      </div>

      <!-- 3rd Count up item -->
      <div class="col-md-4 col-sm-12">
        <div style="line-height: 50px;">
          <span class="counter-item" data-from="0" data-to="1207" style="font-size: 40px; color: white;">1207</span>
          <h2 style="color:white;font-weight: bolder;font-size: 40px;">Users</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- tagline end -->

<div class="container-fluid paddingtopbottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="sub-heading">Pricing</h2>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>Basic</h1>
          </div>
          <div class="panel-body">
            <p><strong>20</strong> Lorem</p>
            <p><strong>15</strong> Ipsum</p>
            <p><strong>5</strong> Dolor</p>
            <p><strong>2</strong> Sit</p>
            <p><strong>Endless</strong> Amet</p>
          </div>
          <div class="panel-footer">
            <h3>$19</h3>
            <h4>per month</h4>
            <button class="btn btn-lg">Buy Now</button>
          </div>
        </div> 
      </div> 
      <div class="col-md-4">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>Basic</h1>
          </div>
          <div class="panel-body">
            <p><strong>20</strong> Lorem</p>
            <p><strong>15</strong> Ipsum</p>
            <p><strong>5</strong> Dolor</p>
            <p><strong>2</strong> Sit</p>
            <p><strong>Endless</strong> Amet</p>
          </div>
          <div class="panel-footer">
            <h3>$19</h3>
            <h4>per month</h4>
            <button class="btn btn-lg">Buy Now</button>
          </div>
        </div> 
      </div> 
      <div class="col-md-4">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>Basic</h1>
          </div>
          <div class="panel-body">
            <p><strong>20</strong> Lorem</p>
            <p><strong>15</strong> Ipsum</p>
            <p><strong>5</strong> Dolor</p>
            <p><strong>2</strong> Sit</p>
            <p><strong>Endless</strong> Amet</p>
          </div>
          <div class="panel-footer">
            <h3>$19</h3>
            <h4>per month</h4>
            <a href="/payment-details"><button class="btn btn-lg">Buy Now</button></a>
          </div>
        </div> 
      </div> 
    </div>
  </div>
</div>
<!-- membership end -->            
            <style>
                .panel {
      border: 1px solid #f4511e; 
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #f4511e;
      background-color: #fff !important;
      color: #f4511e;
  }
  .panel-heading {
      color: #fff !important;
      background-color: #f4511e !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #f4511e;
      color: #fff;
  }

            </style>
<style type="text/css">
    .title{
        text-align: center;
    }

    .bg_color
    {
        background-color: #EEEEEE;
    }
    .m{
        height: 200px;
        width: 500px;
    }
    .c{
        height: 100px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: red;
        padding-top: 10px;
        font-size:10px;
    }
    .counter-item {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}
h4{
    color: white;
}
</style>

<%- include footer%>
</body>
</html>