<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">teledoor</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#" data-toggle="collapse" data-target="#cat">Catagory</a></li>
      <li><a href="#">Season</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>    
  </div>
</nav>

<div id="cat" class="collapse">
  <button>Add</button>
  <button>view</button>
</div>

<div class="container">

    <form action="/Productform" method="post">

      <div class="form-group">
        <label>Catogery Id</label>
        <input type="number" name="Cid" class="form-control">
      <br>
      </div>

      <div class="form-group">
        <label >Product Name</label>
        <input type="text" name="Pname" class="form-control">
      </div>
      <br>

      <div class="form-group">
        <label>Product Description</label>
        <input type="text" name="mdisc" class="form-control">
      </div>
      <br>

      <div class="form-group">
        <label>User Id</label>
        <input type="number" name="Uid" class="form-control">
      </div>
      <br>

      <div class="form-group">
        <label>Product image</label>
        <input type="file" name="Pimge" class="form-control">
      </div>
      <br>

      <div class="form-group">
        <label>Product status</label>
        <input type="text" name="Pstatus" class="form-control">
      </div>
      <br>      

      <div class="form-group">
      <input type="submit" name="sbtn" class="btn btn-primary">
    </div>
      <br>

  </form>
</div>

</body>

<style type="text/css">
  body{
    background-color: lightgrey;
  }
</style>
</html>